<script type="text/ng-template" id="termsTemplate">
    <article class="weui-article">
        <h1>terms</h1>
        <h1>天合汽车部件技术服务（上海）有限公司承诺尊重和保护您的隐私。</h1>
        <p> 本人保证本人上传个人数据及其他信息的真实性。</p>
        <p> 本人同意天合汽车部件技术服务（上海）有限公司及其关联企业（包括全部采埃孚-天合集团旗下的企业）均有权就本人上传的个人数据及其他相关信息均进行收集，存储，并用于市场和公共意见调研、采埃孚-天合集团的产品或服务的提供，或以其他合理的方式进行使用（包括但不限于与其他数据组合的方式进行使用）。
        </p>
        <p>本人同意不对天合汽车部件技术服务（上海）有限公司或其关联企业对于本人的数据及其他信息的收集、存储或使用而主张任何报酬或其他任何形式的权利。</p>
    </article>
    <div class="button-sp-area">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" ng-click="TermsCtrl.accept()">accept</a>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn" ng-click="TermsCtrl.accept()">discard</a>
    </div>
</script>
